.App {
  min-height: 100vh;
  background-image: url("../../../public/assets/images/flight_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
