.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
